<!-- Graph Javascript -->
<script>

</script>


<!-- Place it to the left of the sidebar -->
<div class="main">
	<% if @histories.length > 0 %>

	<section class="graph">
		<header>
			<h2>Histories Bubble Graph</h2>
			<p>
				What do you tend to do the most nowadays? This bubble graph measures your habits by darkening the circles which represent things you have most recently done, and enlargening the circles of things which you tend to (log and) do a lot.
			</p>
		</header>
		<div id="histories-bubble-graph">
		</div>
	</section>

	<section class="new-history">
		<%= form_for(@history, remote: true) do |f| %>
      <div>

        <%= f.text_field :tag, class: 'tags-input', value: 'logged a new entry,am alive' %>
        <small class="centered">
          Per Day. Use common phrases to track common achievements, activities, failures, and milestones.
        </small>
      </div>
      <%= f.submit 'Log New History',
	      'class' => 'btn btn-primary',
	      'id' => 'log-history-page-btn'
	      %>
    <% end %>	
	</section>

	<section class="history">
		<header>
			<h2>All Logged History</h2>
			<p>
				Including a list of all logged histories, ordered by most recently logged.
			</p>
		</header>
		<div id="all-history">
			<ol>
				<% for hist in @histories %>
				<li><%= hist.tagline %> 
					<small class="subtle"><%= hist.created_at.to_date %></small>
				</li>
				<% end %>
			</ol>
		</div>
	</section>

	<% end %>
</div>
