<p id="notice"><%= notice %></p>

<p>
  <strong>Tagline:</strong>
  <%= @history.tagline %>
</p>

<p>
  <strong>Body:</strong>
  <%= @history.body %>
</p>

<p>
  <strong>Opt timestamp:</strong>
  <%= @history.opt_timestamp %>
</p>

<%= link_to 'Edit', edit_history_path(@history) %> |
<%= link_to 'Back', histories_path %>
