<!DOCTYPE html>
<html>
<head>
  <title>habits</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="admin">
  <div class="left">
    <%= link_to 'New Post', new_post_path %>
    <a href="#" data-toggle="modal" data-target="#myModal">
      Log History
    </a>
  </div>
  <div class="middle">
    <a href="/">This is the blog title</a>
  </div>
  <div class="settings right">
    <i class="gear-icon">gear</i>
    <ul>
      <li>HTML / CSS</li>
      <li>Account</li>
      <li>Logout</li>
    </ul>
  </div>
</nav>

<div class="content">

<%= yield %>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">
          Log History
        </h4>
      </div>
      <div class="modal-body">
        ...
        <input id="new-history" class="tags-input" value="logged a new entry,am alive" />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">
          Log History
        </button>
      </div>
    </div>
  </div>
</div>

</div>
</body>
</html>
